matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.2
plotly==5.24.1
PuLP==2.9.0
pytest==8.2.2
scikit-learn==1.5.2
streamlit==1.38.0
tsg-client @ git+https://github.com/CPES-Power-and-Energy-Systems/tsg-client.git